@model IEnumerable<Life_CycleRentals.Models.Bike>


@{
    ViewBag.Title = "Bikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bikes</h2>
<br />
<p>
    @Html.ActionLink("New Bike", "New", "Bikes", null, new {@class = "btn btn-primary"})

</p>


<table id ="bikes" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Bikes Available</th>
            <th>Image</th>
            <th>Style</th>
            <th>Number in Stock</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>

@section scripts
{

<script>
    $(document).ready(function () {

    



           var table = $("#bikes").DataTable({
               ajax: {
                   url: "/api/bikes",
                   dataSrc: ""
               },
               columns: [

                   {
                       data: "name",
                       render: function (data, type, bike) {
                           return "<a href='/bikes/edit/" + bike.id + "'>" + bike.name + "</a>";
                       }
                   },



                   {
                       data: "picture",
                       render: function (data, type, full) {
                           return '<img src="' + data + '" style="height:200px;width:300px;" />';
                       }

                   },

                  


                   {
                       data: "style.name"
                   },

                   {
                       data: "numberInStock",
                       render: function (data, type, bike) {
                           return data
                       }

                   },

                
                   

                    {
                        data: "id",
                       render: function(data) {
                          return "<button class='btn-link js-delete' data-bike-id=" + data + ">Delete</button>";
                       }
                    }
               ]
            });


            $("#bikes").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this bike?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/bikes/" + button.attr("data-bike-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                       });
                    }
                });
            });
        });
    </script>
}