@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>LifeCycle <i class="ion-android-bicycle"></i> Rentals</h1>
    <p class="lead">The one stop shop to for all your bike rental needs...</p>
    <p>To be used by employees at a bicycle rental store.</p>
   
</div>

<div>
    <h2 class="login"> Please LOGIN or REGISTER to gain full access to this site</h2>
   <p> This is a code first MVC ASP.NET application to be used at bike rental stores. It allows the employee to add new customers and create rentals on their behalf.</p>

    <p> Admin users have the option of adding/removing bikes available to rent + removing customers if they wish.</p>

    <p> This application utilises WEB API. </p>
</div>